* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    background-image: url("https://www.logo.wine/a/logo/Counter-Strike%3A_Global_Offensive/Counter-Strike%3A_Global_Offensive-Logo.wine.svg");
    background-size: 100%;
}

p {
    text-align: center;
    align-items: center;
    color: white;
}
#root {
    display: flex;
    width: 100%;
}
h1 {
    text-align: center;
    align-items: center;
    margin: 20px;
    border: 4px solid blue;
    background-color: azure;
    display: inline-block;
    width: 40%;
    padding: 20px;
    font-family: Monaco;
}


button {
    border: 1px solid #0066cc;
    background-color: #0099cc;
    color: #ffffff;
    padding: 5px 10px;
  }
  
  button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
  }
  
  button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

div.players {
    display: inline-block;
    margin-top: 30px;
    text-align: center;
} 

div.riflers {
    display: block;
}

div.place {
    text-align: center;
}

.riflers {
    background-color: lavender;
    width: 203px;
    height: 220px;
    border: solid blueviolet;
    border-radius: 30px;
    border-width: medium;
    
}

.riflers img {
    width: 200;
    height: 216;
}

.dreams {
    background-color: lightcyan;
    width: 203px;
    height: 220px;
    border: solid greenyellow;
    border-radius: 30px;
    border-width: medium;
    
}

.dreams img {
    width: 200;
    height: 216;
}
  
.blog{
    max-width:300px;
    margin:0 auto;
    display:block;
    text-align:center;
    position:relative;
  }
  .blog img{
    max-width:250px;
  }
  .blog .text{
    opacity:0;
    position:absolute;
    bottom:0;
    text-align: left;
    left: 50%;
    transform:translate(-50%, 0);
    transition: 0.5s;
    width:98%;
    font-size:18px;
    background-color:rgba(0, 0, 0, 0.8);
    padding-top: 77px;
    padding-bottom: 77px;
    padding-left: 15px;
    padding-right: 15px;
    color:#fff;
  }
  .blog:hover .text{
    opacity:1
};
